<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.KeepMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Keep" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="pubtime" property="pubtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `uid`, gid, pubtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from keep
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from keep
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Keep" >
    insert into keep (id, `uid`, gid, 
      pubtime)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, 
      #{pubtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Keep" >
    insert into keep
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        `uid`,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="pubtime != null" >
        pubtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="pubtime != null" >
        #{pubtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Keep" >
    update keep
    <set >
      <if test="uid != null" >
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="pubtime != null" >
        pubtime = #{pubtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Keep" >
    update keep
    set `uid` = #{uid,jdbcType=INTEGER},
      gid = #{gid,jdbcType=INTEGER},
      pubtime = #{pubtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>





  <select id="checkName" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from keep
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="getCount" parameterType="java.util.Map" resultType="int">
    select  count(*) from keep  where 1=1
    <if test="status != null">
      and  status like  concat('%',#{status,jdbcType=VARCHAR},'%')
    </if>
    <if test="uid != null">
      and  uid = #{uid,jdbcType=INTEGER}
    </if>
    <if test="gid != null">
      and  gid = #{gid,jdbcType=INTEGER}
    </if>
  </select>
  <select id="getAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select  * from keep  where 1=1
    <if test="status != null">
      and  status like  concat('%',#{status,jdbcType=VARCHAR},'%')
    </if>
    <if test="uid != null">
      and  uid = #{uid,jdbcType=INTEGER}
    </if>
    <if test="gid != null">
      and  gid = #{gid,jdbcType=INTEGER}
    </if>
    order by id desc
  </select>
  <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select *from keep where 1=1
    <if test="status != null">
      and  status like  concat('%',#{status,jdbcType=VARCHAR},'%')
    </if>
    <if test="uid != null">
      and  uid = #{uid,jdbcType=INTEGER}
    </if>
    <if test="gid != null">
      and  gid = #{gid,jdbcType=INTEGER}
    </if>
    order by id desc
    <if test="pageno!=null and pageSize!=null">
      limit #{pageno},#{pageSize}
    </if>
  </select>
</mapper>